In [96]:
import pandas as pd

In [97]:
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'

In [98]:
df = pd.read_csv(url)

In [99]:
# Display the first few rows of the dataset
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [100]:
# Check for missing values
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [101]:

# Summary statistics
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [102]:

# Data types of columns
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [103]:
if df['Age'].notna().any():
    df['Age'] = df['Age'].fillna(df['Age'].median())
    df = df.infer_objects(copy=False)
else:
    print("Warning: 'Age' column is entirely NaN.")

In [104]:
if df['Embarked'].notna().any():
    df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
    df = df.infer_objects(copy=False)
else:
    print("Warning: 'Embarked' column is entirely NaN.")

In [105]:
df = df.drop(columns=['Cabin'])

In [106]:
df = df.dropna(subset=['Fare'])

In [107]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [108]:
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

In [109]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

In [110]:
df['IsAlone'] = (df['FamilySize'] == 1).astype(int)

In [111]:
df = df.drop(columns=['Name', 'Ticket', 'PassengerId'])

In [112]:
from sklearn.preprocessing import StandardScaler
numeric_features = ['Age', 'Fare', 'FamilySize']

In [113]:
if df[numeric_features].isnull().sum().sum() == 0:
    # Standardizing the numeric features
    scaler = StandardScaler()
    df[numeric_features] = scaler.fit_transform(df[numeric_features])
else:
    print("Warning: Missing values found in numeric features. Ensure all missing values are handled before scaling.")

In [115]:
print(df.head())

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked_Q  \
0         0       3    0 -0.565736      1      0 -0.502445       False
1         1       1    1  0.663861      1      0  0.786845       False
2         1       3    1 -0.258337      0      0 -0.488854       False
3         1       1    1  0.433312      1      0  0.420730       False
4         0       3    0  0.433312      0      0 -0.486337       False

   Embarked_S  FamilySize  IsAlone
0        True    0.059160        0
1       False    0.059160        0
2        True   -0.560975        1
3        True    0.059160        0
4        True   -0.560975        1